*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,
body{
    /* height: 100%; */
    width: 100%;
    
    
}
#main{
  display: flex;
  width: 100%;
  height: 190vh;
}
#left{
    width: 30%;
    height: 100%;
    background-color: lavender;
}
#center{
    width: 40%;
    height: 100%;
    background-color:lavender;
}
.cnt{
    width: 100%;
    height: 14.5vmax;
    margin-top: 20px;
    /* background-color: red; */
    border-radius: 10px;
    background-color:#dadada;
    padding: 1rem;
    
}
#right{
    width: 30%;
    height: 100%;
    background-color:lavender;
}
.tnk{
  width: 100%;
  height: 4vmax;
  /* background-color: red; */
  margin-top: 1.4vmax;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 3vmax;
}
.dp{
  width: 4vmax;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  background-color: yellow;
}
.dp img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 100%;
    height: 80%;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
  }
  
  .card > * + * {
    margin-top: 1.1em;
  }
  
  .card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
  }
  
  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
  }
  
  .card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card svg {
    transition: 0.2s;
  }
  
  /* hover */
  .card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .card:hover .card__arrow {
    background: #111;
  }
  
  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }
  












  .Btn {
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    background-color: transparent;
  }
  
  .leftContainer {
    width: 60%;
    height: 100%;
    background-color: #0060ff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .leftContainer .like {
    color: white;
    font-weight: 600;
  }
  
  .likeCount {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0060ff;
    font-weight: 600;
    position: relative;
    background-color: white;
  }
  
  .likeCount::before {
    height: 8px;
    width: 8px;
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    left: -4px;
  }
  
  .Btn:hover .leftContainer {
    background-color: #1d4292;
  }
  
  .Btn:active .leftContainer {
    background-color: #072b7a;
  }
  
  .Btn:active .leftContainer svg {
    transform: scale(1.15);
    transform-origin: top;
  }
  
  



  .bookmarkBtn {
    width: 130px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.062);
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background-color: rgb(103, 74, 228);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(26, 26, 26);
    z-index: 1;
    transition-duration: .3s;
    font-size: 1.04em;
    margin-top: 16px;
    font-weight: 600;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 120px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: .3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: .3s;
  }
  .taker{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cntbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40vmax;
    height: 30vmax;
    /* background-color: red; */
  }
  #pola{
    width: 100%;
    height: 16vmax;
    background-color:#dadada;
  }
  #bhos{
    width: 5vmax;
    height: 2.6vmax;
    background-color: rgb(103, 74, 228);
    border-radius: 10px;
    border: none;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  ;
  }
  #farm>input{
    width: 90%;
    height: 2.6vmax;
    border: none;
    /* background-color: transparent; */
  }
  #farm{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cmntdiv{
    background-color: #c2bfbf;
    border-radius: 25px;
    height: 2vmax;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-top: 5px;
    gap: 10px;
  }
  .dp{
    width: 2vmax;
    height: 2vmax;
    background-color: yellow;
  }